@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.display-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  z-index: 1;
}
.display-container img {
  position: absolute;
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.crt_lines {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: url("/media/lines.jpg");
  mix-blend-mode: overlay;
  background-size: 7px auto;
  opacity: 0.4;
  animation: moveDownAnimation 150s linear infinite;
}
.vignette {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: overlay;
  opacity: 0.7;
  background: url("/media/vignette.png");
  z-index: 11;
  background-size: 100% 100%;
}
.darken{
  background: rgba(0,0,0,.28);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* mix-blend-mode:overlay; */
  z-index: 2;

}
.ytplayer {
  position: absolute;
  /* z-index: 100; */
}
@keyframes moveDownAnimation {
  100% {
    background-position-y: 50%;
  }
}
.test{
  opacity:.8 !important;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(189, 188, 184, 0.7);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(87, 86, 85, 0.9);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}